.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black;

      img {
        height: 40px;
        margin-right: 10px;
      }

      span {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }

  .navbar-nav {
    display: flex;
    align-items: center; // Asegura que todos los elementos dentro de .navbar-nav estén alineados verticalmente en el centro

    .nav-item {
      margin-left: 20px;

      .nav-link {
        text-decoration: none;
        color: black;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center; // Asegura que el contenido dentro de .nav-link esté alineado verticalmente en el centro

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}