<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="home">
      <span>Owl's Quill</span>
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="home">Inicio</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="catalogo" id="catalogo-admin">Catálogo Admin</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="client" id="catalogo-common">Catálogo</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="reserva" id="reserva">Reservar libro</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="historial" id="historial-admin">Historial</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="perfil">Perfil</a></li>
  </ul>
</nav>