<div class="catalog-container">
  <div class="header">
    <h1>Catálogo</h1>
    <div class="search-filter">
      <input type="text" placeholder="Buscar libros...">
    </div>
  </div>
  <div class="add-book-form">
    <input type="text" [(ngModel)]="newBook.title" placeholder="Título del libro">
    <input type="file" accept=".png, .jpg, .jpeg" (change)="cargarImagen($event)" class="inFile" id="inFile">
    <label for="inFile">Subir portada</label>
    <button (click)="guardarCambios()">Guardar Cambios</button>
    <button (click)="agregarLibro()">Agregar Libro</button>
  </div>
  <div class="book-grid">
    <div class="book-item" *ngFor="let book of books">
      <img [src]="book.coverUrl">
      <div class="actions">
        <button (click)="modificarLibro(book)">Modificar</button>
        <button (click)="eliminarLibro(book.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
