<main class="contenedor">
    <h1>Catálogo</h1>
    <div class="search-container">
        <input type="text" placeholder="Buscar" class="search-input" (keyup.enter)="filtro()" [(ngModel)]="nombre">
        <button class="buscar" (click)="filtro()">Buscar</button>
    </div>
    <div class="libros">
        <div class="libro" *ngFor="let libro of libros">
            <div class="images">
                <img [src]="libro.imagen" alt="{{libro.nombre}}">
            </div>
            <div class="info">
                <h4>{{libro.nombre}}</h4>
                <p>Autor: {{libro.autor}}</p>
                <h5>$ {{libro.precio}}</h5>
            </div>
            <button class="btn-reservar"><i class="fas fa-pencil-alt"></i>Reservar</button>
        </div>
    </div>
</main>