<!--<main class="contenedor">
    <h1>CATALOGO</h1>
    <div class="search-container">
        <button class="category-button" (click)="toggleFiltro()">Filtros</button>
        <input type="text" placeholder="Buscar" class="search-input" (keyup.enter)="filtro()" [(ngModel)]="nombre">
        <button class="buscar" (click)="filtro()">Buscar</button>
    </div>

    <div class="contenido">
        <div *ngIf="mostrarFiltro || !isSmallScreen" class="filtro-container">
            <h2>Categorías</h2>
            <ul class="categorias-lista">
                <li *ngFor="let categoria of categorias">
                    <a (click)="filtrarPorCategoria(categoria)">{{ categoria.nombre }}</a>
                    <ul *ngIf="categoria.nombre === 'Autores' && mostrarAutores" class="autores-lista">
                        <li *ngFor="let autor of autores" (click)="filtrarPorAutor(autor)">
                            {{ autor }}
                        </li>
                    </ul>
                    <ul *ngIf="categoria.nombre === 'Categoria' && mostrarCategorias" class="categorias-disponibles-lista">
                        <li *ngFor="let cat of categoriasDisponibles" (click)="filtrarPorCategoriaEspecifica(cat)">
                            {{ cat.nombre }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="libros">
            <div class="libro" *ngFor="let libro of librosFiltrados">
                <div class="images">
                    <img [src]="libro.imagen" alt="{{libro.nombre}}">
                </div>
                <div class="info">
                    <h4>{{libro.nombre}}</h4>
                    <p>Autor: {{libro.autor}}</p>
                    <h5>$ {{libro.precio}}</h5>
                </div>
                <button class="btn-reservar" (click)="seleccionarLibro(libro)"><i class="fas fa-pencil-alt"></i>Reservar</button>
            </div>
        </div>
    </div>
</main>-->