<footer class="footer">
    <div class="footer-content">
        <div class="logo-section">
            <img src="/assets/images/owl-logo.png" alt="Owl's Quill Logo"> <!-- Update path as necessary -->
            <span>Owl's Quill</span>
        </div>
        <div class="contact-section">
            <p>Contactanos</p>
            <p>Email: contact@owlsquill.com</p>
            <p>Telefono: +32 16 555 0123</p>
        </div>
        <div class="social-media">
            <p>Siguenos</p>
            <a href="#"><i class="fa fa-facebook"></i></a> <!-- Icons can be replaced with images or font icons -->
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</footer>
