<footer class="footer">
    <div class="footer-content">
        <div class="logo-section">
            <img src="assets/owl-logo.png" alt="Owl's Quill Logo"> 
            <span>Owl's Quill</span>
        </div>
        <div class="contact-section">
            <p>Contactanos</p>
            <!--<p>Email: contact@owlsquill.com</p>-->
            <p>Telefono: +32 16 555 0123</p>
        </div>
        <div class="social-media">
            <p>Siguenos</p>
            <a href="https://www.facebook.com/profile.php?id=100007676689188" target="_blank">
                <img src="assets/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.linkedin.com/in/diego-carrion-700035266/" target="_blank">
                <img src="assets/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.youtube.com/channel/UCOgS_mI2so8-RkIFszqMGBg" target="_blank">
                <img src="assets/youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/andresportillamusica/" target="_blank">
                <img src="assets/instagram.png" alt="Instagram">
            </a>
        </div>
        
    </div>
</footer>
