<div *ngIf="libroSeleccionado" class="modal">
  <div class="modal-content">
    <span class="close" (click)="libroSeleccionado = null">&times;</span>
    <h2>Reservar {{ libroSeleccionado.nombre }}</h2>
    <form [formGroup]="reservarFormulario" (ngSubmit)="onSubmit()">
      <label for="fechaInicio">Fecha Inicio:</label>
      <input id="fechaInicio" formControlName="fechaInicio" type="date">
      <label for="fechaFin">Fecha Fin:</label>
      <input id="fechaFin" formControlName="fechaFin" type="date">
      <button type="submit">Reservar</button>
    </form>
  </div>
</div>
